
body {
	margin: 0;
	padding: 0;
	font-family: "PT Sans Narrow", Arial, sans-serif;
	color: #000000;
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
	background-image: url(images/pattern_sections.jpg);
	background-repeat: repeat;
	background-position: 0 0;
	
}

a{
	text-decoration: none;
	color: #ffffff;
}

li a{
	color: inherit;
}

.button {
	color:#ffffff;
	font-family: "PT Sans Narrow", Arial, sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
	padding: 20px;
	background-color: #000000;
	border: none;
}

.button:hover,
.button:focus,
.button:active{
	background-color: #663d15;
	border: none;
}
.header {
	margin-top: 0;
	background-color: #000;
	color:white;
}
.nav {
	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
}
.nav-list {
	display: flex;
	justify-content: space-between;
	list-style: none;

}
.nav-list_item {

}
.nav-list_item a{
	text-decoration: none;
	color: #ffffff;
	padding: 20px;
}
.nav-list_item a:hover ,
.nav-list_item a:focus {
	background-color: #242424;
}


.login {
	font-weight: 400;
}
.logo {
	display: flex;
	justify-content: center;
}

.visuality-hidden {}

.shop-list{
	list-style: url(images/romb.png);
	display: flex;
}


.shop-links{
	margin-left: 20px;
	padding-left: 50px;
	margin-right:20px;
}

.shop-links:first-child{
	list-style: none;
}

.travel-kit{
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
}

.photos{
	width: 50%;
}

.description{
	width: 50%;
}

.set-includes{

	width: 50%;
}

.set-includes-list{
	list-style: url(images/romb.png);
}
.price{
	background-color: #e5e5e5;
	padding: 15px;
}
.footer {
	display: flex;
	background-color: #232323;
	color: #fff;
}
.adress {}
.social-networks {
	
}
.social-networks-list {
	list-style: none;
	text-align: center;
}
.social-vk {}
.social-fb {}
.social-inst {}
.copyright {}
.user-account {
	color: #000;
	background-color: #faf7f4;
	background-image: url(images/pattern_sections.jpg);
	background-position: 0 0;

}

.user-account a{
	color:#000;
	text-decoration: underline #a3a19f;
}
.user-login input{
	font: inherit;
	text-transform: uppercase;
	outline: #51504f;
}
.user-password input{
	font: inherit;
	text-transform: uppercase;
	outline: #51504f;
}

.user-password input::placeholder{
	color: #000;
}

.user-login input::placeholder{
	color:#000;
}
.user-login input:hover ,
.user-login input:focus{
	border: 2px solid #663d15;
}
.user-password input:hover ,
.user-password input:focus{
	border: 2px solid #663d15;
}

.remember_checkbox {}
.map {
	background-color: transparent;
}
.map-img {}