body {
	margin: auto;
	padding: 0;
	font-family: "PT Sans Narrow", Arial, sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
	background-image: url(images/pattern_sections.jpg);
	background-repeat: repeat;
	background-position: 0 0;
	
}

main{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width:462px;
}

a{
	color:#000;
	text-decoration: underline #a3a19f;
}